@import "bootstrap";
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';

@import "selectize";
@import "selectize.default";
@import "datatables.min.css";

.alert-alert {
    @extend .alert-warning;
  }

.alert-notice {
    @extend .alert-info;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(asset-path("glyphicons-halflings-regular.eot"));
  src: url(asset-path("glyphicons-halflings-regular.eot?#iefix")) format("embedded-opentype"),
      url(asset-path("glyphicons-halflings-regular.woff2")) format("woff2"),
      url(asset-path("glyphicons-halflings-regular.woff")) format("woff"),
      url(asset-path("glyphicons-halflings-regular.ttf")) format("truetype"),      
     url(asset-path("glyphicons-halflings-regular.svg#glyphicons_halflingsregular")) format("svg");
 }

.dataTables_paginate a {
  padding: 6px 9px !important;
  border-color: #2196F3 !important;
}